<section>
    <div class="container">
        <div class="row mt-4">
            
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th>_id</th>   
                        <th>Name</th>                                                                    
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                          <td>
                        <button  class="btn btn-primary" onClick="blockUser('{{this._id}}')">Block</button>
                        <button  class="btn btn-primary" onClick="unBlockUser('{{this._id}}')">unBlock</button>
                    </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    function blockUser(userId) {
       $.ajax({
        url:"/blockUser",
        data:{
            user:userId
        },
        method:'post',
        success:(response=>{
            if(response.blockUser){
               Swal.fire({
  title: "User Blocked",
  timer: 50000, // 50 seconds
  timerProgressBar: true,
  icon: 'warning',
  showConfirmButton: false,
 
});

            }
        })
       })
    }
    function unBlockUser(userId){
        $.ajax({
            url:"/unBlockUser",
            data:{
                user:userId
            },
            method:'post',
            success:(response=>{
                if(response.unBlockUser){
                  Swal.fire({
  title: "User UnBlocked",
  timer: 50000, // 50 seconds
  timerProgressBar: true,
  icon: 'warning',
  showConfirmButton: false,
  willOpen: () => {
    Swal.showLoading(); // Ensures timer progress is shown
  },
  didClose: () => {
    console.log("Alert closed after 50 seconds");
  }
});

                }
            })
        })
    }
    
</script>