  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
       
        <div class="col-md-3 p-3">
           <a href="/view-each-product" style="text-decoration: none; color: inherit;">
          <div class="card" style="width: 16rem; height:28 rem">
            <img class="card-img-top"
              src="/images/{{this._id}}.png"
              alt="Card image cap" style="height:12rem">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">Rs.{{this.price}}</p>

              <p class="card-text">{{this.description}}</p>
              </a>
              
             <button onClick="{{#if ../user}}addToCart('{{this._id}}'){{else}}alert('Please login'){{/if}}" class="btn btn-primary">Add to cart</button>

             
            </div>
          </div>
          
        </div>
       
        {{/each}}
        </div>
      
    </div>
  </section>

  