
<body>

  {{!-- home --}}
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      {{#each advertisment}}
      <li data-target="#demo" data-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}"></li>
      {{/each}}
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      {{#each advertisment}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <div class="home">
          <img src="/images/{{this._id}}.jpg"  class="home-bg img-fluid " alt="">
          <div class="home-text col-12 col-md-12 col-lg-12">
            <h6>New Arrivals</h6>
            <h1>New Arrivals <br> ready to rock</h1>
            <p>Productivity and Efficiency: Electronic gadgets like laptops and tablets enable people to work efficiently, manage tasks, and organize schedules.</p>
            <a href="/view-all-products" class="btn btn-outline-light"> Shop now
              <i class="ri-arrow-right-line"></i>
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  {{!-- products --}}

{{!-- <section style="background-color: #eee;"></section>
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          {{#each products}}
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"  data-mdb-ripple-color="light">
                 <img class="img-fluid" src="/images/{{this._id}}.png"  style="height: 18rem; width: fit-content;">
                      <a href="/view-each-product/{{this._id}}" style="text-decoration: none; color: inherit;">

              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100">
                  <h5><span class="badge bg-primary ms-2">New</span></h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="" class="text-reset">
              <h5 class="card-title mb-3">{{this.name}}</h5>
            </a>
            <div class="stars"></div>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href="">4.5/5</a>
          </div>
            <h6 class="mb-3">{{this.price}}</h6>
         <button onClick="{{#if ../user}}addToCart('{{this._id}}'){{else}}alert('Please login'){{/if}}" class="button">Add to cart

          </div>
        </div>
      </div> --}}


  {{!-- <section class="n-products my-5">
    <div class="center-text col-12 col-md-12 col-lg-12">
      <h2 class="h2">All Products</h2>
    </div>
    <div class="n-content">
      <div class="row ">
        {{#each products}}
        <div class=" product-card col-12 col-md-4 col-lg-4  mt-1 pe-4">
            <div class="n-content">
              <div class="row-img">
                <img class="img-fluid" src="/images/{{this._id}}.png"  style="height: 18rem; width: fit-content;">
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                </div>
              </div>
            </div>
          </a>
          <div class="stars">
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href=""><i class="ri-star-s-fill"></i></a>
            <a href="">4.5/5</a>
          </div>
          <div class="row-in col-12">
            <div class="row-left col-md-8">
              <button onClick="{{#if ../user}}addToCart('{{this._id}}'){{else}}alert('Please login'){{/if}}" class="button">Add to cart
                <i class="ri-shopping-cart-fill"></i>
              </button>
            </div>
            <div class="row-right mr-3 mt-2 col-md-4">
              <h6>{{this.price}}</h6>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="n-btn text-center col-12 col-md-12  col-lg-12 mt-3">
        <a href="/view-all-products" id="view-all-btn" class="btn2">View All <i class="ri-arrow-right-line"></i></a>
      </div>
    </div>
  </section> --}}

 <section class="product">
  <div class="container py-2">
    <div class="row py-5">
      <div class="col-lg-5 m-auto text-center">
        <h1 class="h2">Trending Products</h1>
      </div>
    </div>
    <div class="row">
      {{#each TrendingProduct}}
      <div class="col-lg-3 col-md-3 col-6 mb-2 product-card">
                <a href="/view-each-product/{{this._id}}" style="text-decoration: none; color: inherit;">
        <div class="card border-0 h-100 d-flex flex-column">
          <div class="card-body">
            <img class="img-fluid" src="/images/{{this._id}}.png" style="max-width: 100%; height: 200px; object-fit:contain">
          </div>
          <!-- Product name with fixed height using Bootstrap -->
          <h6 class=" h6 text-center  mb-2" style="min-height: 2rem;">
            {{this.name}}
          </h6>
          <!-- Button and price aligned using Bootstrap -->
          <div class=" d-flex justify-content-between align-items-center mb-3">
            
            <button 
              onClick="{{#if ../user}}addToCart('{{this._id}}'){{else}}alert('Please login'){{/if}}" 
              class="btn btn-dark btn-sm d-inline  "  >
              Add to cart
            </button>
            <p class="mb-0"> ₹ {{this.price}}</p>
          </div>
        </div>
        </a>
      </div>
      {{/each}}
    </div>

   
  </div>
</section>



  {{!-- feature --}}
 <section class="feature my-0  ">
  <div class="feature-content">
    <div class="row d-flex justify-content-center align-items-center text-center">
      <div class="box col-12 col-md-4 col-lg-4 mb-4">
        <div class="f-text f-icon">
          <i class="ri-bank-card-fill" style="font-size: 4rem;"></i>
          <h3>Cash on Delivery</h3>
          <p>"Cash on delivery lets customers pay in cash upon receipt."</p>
        </div>
      </div>

      <div class="box col-12 col-md-4 col-lg-4 mb-4">
        <div class="f-text f-icon">
          <i class="ri-truck-fill" style="font-size: 4rem;"></i>
          <h3>35 days return</h3>
          <p>"Enjoy our 35-day return policy."</p>
        </div>
      </div>

      <div class="box col-12 col-md-4 col-lg-4 mb-4">
        <div class="f-text f-icon">
          <i class="ri-customer-service-fill" style="font-size: 4rem;"></i>
          <h3>Free Shipping</h3>
          <p>"Free shipping offered."</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product">
  <div class="container py-2">
    <div class="row py-5">
      <div class="col-lg-5 m-auto text-center">
        <h1 class="h2">Best Sellers</h1>
      </div>

    </div>
    <div class="row">
      {{#each Bestsellers }}
      <div class="col-lg-3 col-md-3 col-6 mb-5 product-card">
                <a href="/view-each-product/{{this._id}}" style="text-decoration: none; color: inherit;">
        <div class="card border-0 h-100 d-flex flex-column">
          <div class="card-body">
            <img class="img-fluid me-2" src="/images/{{this._id}}.png" style="max-width: 100%; height: 200px; object-fit:contain">
          </div>
          <!-- Product name with fixed height using Bootstrap -->
          <h6 class=" h6 text-center mb-2" style="min-height: 2rem;">
            {{this.name}}
          </h6>
          <!-- Button and price aligned using Bootstrap -->
          <div class="d-flex justify-content-between align-items-center  mb-3" >
            <button 
              onClick="{{#if ../user}}addToCart('{{this._id}}'){{else}}alert('Please login'){{/if}}" 
              class="btn btn-dark btn-sm " >
              Add to cart
            </button>
            <p class="mb-0"> ₹ {{this.price}}</p>
          </div>
        </div>
        </a>
      </div>
      {{/each}}
    </div>

   
    </div>
</section>




{{!-- footer --}}

{{!-- <section class="footer  container ">
  <div class="footer-box col-3  col-md-6">
    <h3>Company</h3>
    <a href="#">About</a>
    <a href="#">Features</a>
    <a href="#">Works</a>
    <a href="#">Carrer</a>
  </div>

<div class="footer-box col-3 col-md-6">
    <h3>Company</h3>
    <a href="#">About</a>
    <a href="#">Features</a>
    <a href="#">Works</a>
    <a href="#">Carrer</a>
  </div>

  <div class="footer-box col-3 col-md-6 ">
    <h3>Resources</h3>
    <a href="#">Youtube Playlist</a>
    <a href="#">Features</a>
    <a href="#">Works</a>
  </div>

  <div class="footer-box  col-3 col-md-6">
    <h3>Social</h3>
    <div class="social">
      <a href="#"><i class="ri-facebook-fill"></i></a>
      <a href="#"><i class="ri-instagram-fill"></i></a>
      <a href="#"><i class="ri-twitter-fill"></i></a>
    </div>
  </div>


</section> --}}

{{!-- copyright --}}

{{!-- <div class="copyright">
  <div class="text-center">
    <p>copyright 2024 <i class="ri-copyright-line"></i></p>
  </div>
</div> --}}
 </body>
        <div class="container my-3"></div>
<!-- Footer -->
<footer class="text-dark" style="background-color:#eee">
  <!-- Grid container -->
  <div class="container p-2 pb-0 ">
    <!-- Section: Links -->
    <section class="feature">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column for Volt-Cart section (increased width) -->
        <div class="col-md-4 col-lg-4 col-xl-4" style="padding-left: 0;">
          <h6 class="text-uppercase  mb-3 font-weight-bold">
            Volt-Cart
          </h6>
          <p class="text-start" style="width: 100%; margin-bottom: 5px;">
            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column for Products -->
        <div class="col-md-2 col-lg-2 col-xl-2">
          <h6 class="text-uppercase mb-2 font-weight-bold">Products</h6>
          <p><a class="text-dark">Laptops</a></p>
          <p><a class="text-dark">Phones</a></p>
          <p><a class="text-dark">Speakers</a></p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column for Help -->
        <div class="col-md-3 col-lg-3 col-xl-3">
          <h6 class="text-uppercase mb-2 font-weight-bold">Help</h6>
          <p>Payment</p>
          <p>Shipping</p>
          <p>FAQ</p>
          <p>Cancellation & Returns</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column for Social Links -->
        <div class="col-md-3 col-lg-3 col-xl-3 text-center social">
          <h6 class="text-uppercase mb-3 font-weight-bold">Follow us</h6>
          <!-- Facebook -->
          <a
            class="btn btn-dark btn-floating m-1"
            style="background-color:#000000"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-dark btn-floating m-1"
            style="background-color:#000000"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a href="#!" class="btn btn-dark btn-floating m-1" style="background-color:#000000">
            <i class="fab fa-google"></i>
          </a>

          <!-- Instagram -->
          <a href="#" class="btn btn-dark btn-floating m-1" style="background-color:#000000">
            <i class="ri-instagram-fill"></i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="#">Volt-Cart</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Footer -->

<style>
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-color: #f0f0f0;
  --other-color: #ffc633;
  --second-color: #616060;
  --primary-color: #000000;

  --h1-font: 5.5rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;
}
.btn1{
  height: 30px;
  width: 55%;
  border: none;
  outline: none;
  background-color: #000000;
  color: #f0f0f0;
  font-weight: 400;
  border-radius: 15px;
}
.btn1:hover{
  background-color:#616060;
  transition: 0.5s;
  
}
.card:hover{
   box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.2);
     transition: 0.5s;
}

body,section, html {
  overflow-x: hidden;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home-text {
  padding: 40px;
  position: absolute;
  top: 15%; /* Adjust as needed */
  left: 5%; /* Align to the left side */
  transform: translateY(0); /* Remove horizontal centering */
  z-index: 10; /* Ensure it's above the carousel */
  text-align: left; /* Align text to the left */
}


.home-text h1 {
  font-size: var(--h1-font);
  color: var(--bg-color);
}

.home-text h6 {
  font-size: 15px;
  color: var(--bg-color);
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.home-text p {
  font-size: var(--p-font);
  color: var(--bg-color);
  margin-bottom: 25px;
}

.btnn {
  height: 28px;
  width: 55%;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 15px;
  margin-top: 0;

}

.btn2 {
  padding: 12px 42px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 30px;
  font-weight: 500;
}
.btn2:hover {
  background-color: var(--second-color); /* Change background color on hover */
  color: var(--bg-color); /* Change text color on hover */
}
.box {
  padding: 0px 15px 15px 30px; /* Top padding set to 0 */
  padding-left: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transition: all .6s;
  min-height: 250px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effect */
}

.box:hover {
  transform: translateY(-5px); /* Lift the box slightly */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}


.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 55vh; /* Make carousel images shorter on smaller screens */
  }
.home-text {
    padding: 20px;
    top: 18%; /* Adjust spacing */
  }

  .home-text h1 {
    font-size: 2.5rem;
    color:var(--bg-color)
    
  }

  .home-text h6 {
    font-size: 1rem;
  }

  .home-text p {
    font-size: 0.9rem;
  }
}


@media screen and (max-width: 480px) {
  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h6 {
    font-size: 0.9rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }


}

/* Other Styles */
.feature {
  padding: 90px 14% 70px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box a {
  color: var(--second-color);
  margin-bottom: 0.8rem;
  transition: all 0.50s ease;
}

.footer-box a:hover {
  transform: translateX(-5px);
  color: var(--text-color);
}

/* Media query to ensure proper layout on small screens */
@media (max-width: 576px) {
  .footer {
    grid-template-columns: 1fr 1fr; /* Two columns on small screens */
  }
}


.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--text-color);
  color: var(--bg-color);
  font-size: 17px;
  border-radius: 10px;
  margin-right: 14px;
  transition: transform 0.6s;
}

.social a:hover {
  transform: rotate(360deg) scale(1.06);
  color: var(--bg-color);
}



.end-text p {
  font-size: 15px;
}

.center-text {
  text-align: center;
}


  .product-card {
  display: none; /* Hide all product cards initially */
   padding-bottom: 5px; 
}

.product-card.visible {
  display: block; /* Show product cards when the "visible" class is added */
}

    
@media (max-width: 576px) {
  .center-text h2{
    font-size: 2rem;
  }
}
         .n-content{     
        display: grid;
        align-items:center;
       
      }
      
      .row-img img{
        transition: transform 0.5s;
        cursor: pointer;
      }
      .row-img:hover img{
        transform: scale(1.1);
      }
      .row h3{
        font-size:17px;
        font-weight: 700;
        margin-bottom :5px ;
      }
      .stars{
        padding-left: 2rem;
      }
      .card-title{
        position: relative;
       left: -20px;
      }
      .stars a{
        font-size:16px;
        color:var(--other-color);
        margin-right: 5px;
        position: relative;
       top: -35px;
      
      }
      .row-in{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
      }
      .row-right:hover{
        transform: scale(1.1);
      }
     
</style>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var productCards = document.querySelectorAll('.product-card');
  var viewAllBtn = document.getElementById('view-all-btn');

  // Show the first 3 products initially
  var limit = 4;
  for (var i = 0; i < limit; i++) {
    if (productCards[i]) {
      productCards[i].classList.add('visible');
    }
  }

  // Initialize Bootstrap Carousel
  var carouselElement = document.querySelector('#demo');
  if (carouselElement) {
    var carousel = new bootstrap.Carousel(carouselElement, {
      interval: 4000
    });
  }
});
function addToCart(productId) {
  $.ajax({
    url: '/add-to-cart/' + productId,
    method: 'get',
    success: (response) => {
      if (response.status) {
        alert('Product added to cart!');
        // Optionally, update cart count or reload page
        location.reload(); // if you want to reload the page
      } else {
        alert('Failed to add product to cart.');
      }
    },
    error: (err) => {
      console.error(err);
      alert('Something went wrong. Please try again.');
    }
  });
}

</script>